@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Yuj Vidya</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Yuj Vidya</h2>
        <p>
            This sample web site for Yuj Vidya, Chennai
        </p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>To know more about Events, click the button</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>To know about activities, celebration, festival...</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">Click here &raquo;</a></p>
    </div>
</div>
